table{
  width: calc(100% - 1px); // Fixing responsive table with borders
  border-radius: .3rem;
  overflow: hidden;

  thead{
    text-transform: uppercase;

    th{
      font-weight: normal;
      position: relative;
      border: none;
      vertical-align: middle;

      &:before{
        content: '';
        position: absolute;
        top: 25%;
        right: 0;
        display: block;
        width: 1px;
        height: 50%;
        background: rgba(white,.15);

        &:last-child{

          &:before{
            display: none;
          }
        }
      }

      a{
        text-decoration: none;
        padding-right: 1rem;
        position: relative;

        .sorting{
          position: relative;
    
          fa-icon{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
      
            &.background-icon{
              color: #aaa;
              z-index: 0;
            }
          }
        }
      }
    }
  }

  tbody{
    
    tr{
      background: #f7f7f7;
      &:nth-child(2n) {
        background: #fff;
      }

      td{
        border: none;
        vertical-align: middle;
        position: relative;
  
        &:before{
          content: '';
          position: absolute;
          top: 25%;
          right: 0;
          display: block;
          width: 1px;
          height: 50%;
          background: rgba(black,.15);
        }
  
        &:last-child{
  
          &:before{
            display: none;
          }
        }
      }
    }
  }
}
