table{
  width: calc(100% - 1px); // Fixing responsive table with borders

  thead{
    text-transform: uppercase;

    tr th{
      font-weight: normal;
      position: relative;
      border: none;
      border-bottom: solid 1px #ccc;

      a{
        text-decoration: none;
      }
    }
    fa-icon{
      position: absolute;
      right: 1.2rem;

      &.background-icon{
        color: #aaa;
        z-index: -1;
      }
    }
  }
  tbody{
    tr{
      background: #f7f7f7;
      border: solid 1px #ccc;
    }
    tr:nth-child(2n) {
      background: transparent;
    }
  }
}
