<div class="customer-list">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">
            <a class="d-flex flex-nowrap" href="javascript:void(0)" (click)="sort('name')">
              Name
              <span class="sorting">
                  <fa-icon *ngIf="sortProperty === 'name'" [icon]="sortIcon"></fa-icon>
                  <fa-icon class="background-icon" [icon]="sortBackground"></fa-icon>
                </span>
            </a>
          </th>
          <th scope="col">Surname</th>
          <th scope="col">Email</th>
          <th scope="col">Phone number</th>
          <th scope="col">Age</th>
          <th scope="col flex-nowrap">
            <a class="d-flex flex-nowrap" href="javascript:void(0)" (click)="sort('city')">
              City
              <span class="sorting">
                <fa-icon *ngIf="sortProperty === 'city'" [icon]="sortIcon"></fa-icon>
                <fa-icon class="background-icon" [icon]="sortBackground"></fa-icon>
              </span>
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers" class="font-weight-bold">
          <td class="py-4">{{customer.name}}</td>
          <td class="py-4">{{customer.surname}}</td>
          <td class="py-4">{{customer.email}}</td>
          <td class="py-4">{{customer.phoneNumber}}</td>
          <td class="py-4">{{customer.age}}</td>
          <td class="py-4">{{customer.city}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
